body { background: #b7cb6b; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 18px; display: flex; }
.block-auth-0 { color: #d4bc4f; font-size: 14px; margin-bottom: 5px; }
.block-uploader-1 { color: #83f5dc; font-size: 13px; margin-bottom: 5px; }
.block-cache-2 { color: #158cac; font-size: 19px; margin-bottom: 5px; }
.block-payment-3 { color: #c95739; font-size: 16px; margin-bottom: 5px; }
.block-search-4 { color: #789253; font-size: 21px; margin-bottom: 5px; }
.block-database-5 { color: #17de48; font-size: 14px; margin-bottom: 5px; }
.block-notify-6 { color: #46df0b; font-size: 17px; margin-bottom: 5px; }
.block-order-7 { color: #a63bcb; font-size: 18px; margin-bottom: 5px; }
.block-order-8 { color: #25b09b; font-size: 20px; margin-bottom: 5px; }
.block-notify-9 { color: #4545ce; font-size: 12px; margin-bottom: 5px; }
.block-cluster-10 { color: #1af483; font-size: 18px; margin-bottom: 5px; }